body {
  background-color: #efefef !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background{
  background-color: white;
  height: 43% !important;
}
.button_background {
  background-color: #1683b3 !important;
}
.p-left{float: left;}
.p-left-1{float: left;margin-top:7% !important;}
.custom-icon{
  background-color: #ea5d59 !important;
}
.p-class-card-text{
  margin-top: -8px;
  margin-bottom: 1rem;
}
.text-title-align{
  text-align: left;
  margin-left:10px;
}
.text-p-color{
color:#1683b3 !important
}
.text-h-color{
  color:#727272;
  margin-top:7% !important;
}
.custom-red{
  background-color: #ea5d59 !important;
}
.custom-blue{
  background-color: #5cb8e6 !important;
}
.custom-darkblue{
  background-color: #0f6782 !important;
}
.custom-purple{
  background-color: purple !important;
}
.block {
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}